# Lab | Web Scraping Single Page

## Scraping the top 100 songs

WeÂ´ll start by going to https://www.billboard.com/charts/hot-100/ and Scraping the current top 100 songs and their respective artist.

In [1]:
# Importing libraries- BeautifulSoup, requests, pandas
import pandas as pd
from bs4 import BeautifulSoup
import re
import requests
import random

In [2]:
# Find url and store it in a variable
url="https://www.billboard.com/charts/hot-100/"

In [3]:
# download html with a get request
response = requests.get(url)

In [4]:
#check response status code 
response.status_code

200

In [5]:
#parse and store the contents of the url call
soup=BeautifulSoup(response.content,'html.parser')

### Query the soup to get song title and artist

In [6]:
# getting song title

soup.select('h3.c-title.a-no-trucate')[0].get_text(strip=True)

'Easy On Me'

In [7]:
# getting artist

soup.select('span.c-label.a-font-primary-s')[0].get_text(strip=True)

'Adele'

In [8]:
songs = len(soup.select('h3.c-title.a-no-trucate'))
songs

100

In [9]:
from tqdm.notebook import tqdm

In [10]:
song=[]
artist=[]
last_week=[]
peak_list=[]
weeks_on_chart=[]

for i in tqdm (range(songs)):
    song.append(soup.select('h3.c-title.a-no-trucate')[i].get_text(strip=True))
    artist.append(soup.select('span.c-label.a-font-primary-s')[i].get_text(strip=True))

  0%|          | 0/100 [00:00<?, ?it/s]

In [11]:
songsdf = pd.DataFrame({'song':song,'artist':artist})

In [12]:
songsdf.head()

                              song                         artist
0                       Easy On Me                          Adele
1                             Stay  The Kid LAROI & Justin Bieber
2                    Industry Baby        Lil Nas X & Jack Harlow
3  All Too Well (Taylor's Version)                   Taylor Swift
4                        Oh My God                          Adele

In [13]:
songsdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   song    100 non-null    object
 1   artist  100 non-null    object
dtypes: object(2)
memory usage: 1.7+ KB

In [14]:
songsdf.head()

                              song                         artist
0                       Easy On Me                          Adele
1                             Stay  The Kid LAROI & Justin Bieber
2                    Industry Baby        Lil Nas X & Jack Harlow
3  All Too Well (Taylor's Version)                   Taylor Swift
4                        Oh My God                          Adele

## Formatting the dataframe and lowercasing

In [15]:
songsdf["song"] = songsdf["song"].apply(lambda x: x.lower())

songsdf["artist"] = songsdf["artist"].apply(lambda x: x.lower())

In [16]:
songsdf.head()

                              song                         artist
0                       easy on me                          adele
1                             stay  the kid laroi & justin bieber
2                    industry baby        lil nas x & jack harlow
3  all too well (taylor's version)                   taylor swift
4                        oh my god                          adele

## Creating a loop to check if song is hot or not

In [17]:
for i in songsdf[["song","artist"]].iterrows():
    user_input = input("Enter a song or artist: ")
    if user_input.lower() in list(songsdf["song"]):
        random_song = random.choice(songsdf["song"]).title()
        song_artist = songsdf.loc[songsdf["song"] == random.choice(songsdf["song"]), "artist"].values[0]
        
        print("You may also like this song: ", random_song, "from", song_artist.title())
        print("Thanks for using the music recommender.")
        break
    elif user_input.lower() in list(songsdf["artist"]) or songsdf["artist"].str.contains(user_input).any():
        print("You may also like this artist: ", random.choice(songsdf["artist"]).title())
        print("Thanks for using the music recommender.")
        break
    elif user_input not in songsdf.iterrows():
        print("Sorry, we can't recommend you any song. Please try with another hot song or artist:")
        continue

Enter a song or artist: coldplay
You may also like this artist:  Adele
Thanks for using the music recommender.